.kissed-list {
    list-style-type: none;
    margin: 2rem 5rem;
    padding: 0;
}

.kissed-list li {
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}