

.book-list {
    list-style-type: none;
    margin: 2rem 5rem;
    padding: 0;
}

.book-list li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 300px 100px 80px; /* Fixed widths for alignment */
    align-items: center;
    gap: 1rem;
}

.book-list li div {
    text-align: left;
}

.book-list li button {
    text-align: center;
    justify-content:;
}