.book-list {
    list-style-type: none;
    padding: 0 5rem;
    text-align: center;
}

.book-list li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}