.country-list {
    list-style-type: none;
    margin: 2rem 5rem;
    padding: 0;
}

.country-list li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
}